<div mat-dialog-title>
    <h1>Formular Programare</h1>
</div>
<div class="row">
<mat-form-field class="content">
    <mat-label>Numele Pacientului</mat-label>
    <mat-select [(ngModel)]="selectedName" name="selectedName">
        <mat-option *ngFor="let name of names" [value]="name">
            <!-- AICI {{PLACEHOLDER}}-->
            {{ name }}
        </mat-option>
    </mat-select>
</mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button>Anuleaza</button>
    <button mat-raised-button color="primary">Programeaza</button>
</div>