<div mat-dialog-title>
    <h1>Formular Programare</h1>
</div>
<div>
<mat-form-field class="content">
    <mat-label>Numele Pacientului</mat-label>
    <mat-select [(ngModel)]="selectedName" name="selectedName">
        <mat-option *ngFor="let name of names" [value]="name">
            <!-- AICI {{PLACEHOLDER}}-->
            {{ name }}
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field class="content">
    <mat-label>Varsta</mat-label>
    <input matInput [(ngModel)]="selectedAge" name="varsta">
</mat-form-field>

<mat-form-field class="content">
    <mat-label>Nr. Telefon</mat-label>
    <input matInput [(ngModel)]="selectedPhone" name="telefon" readonly>
</mat-form-field>
</div>
<div>
    <mat-form-field class="content">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" name="selectedDate">
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="content">
        <mat-label>Ora</mat-label>
        <mat-select [(ngModel)]="selectedTime" name="selectedTime">
            <mat-option *ngFor="let timeSlot of timeSlots" [value]="timeSlot" (ngModelChange)="onTimeSelected($event)">
                <!-- AICI {{PLACEHOLDER}}-->
                {{ timeSlot}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button>Anuleaza</button>
    <button mat-raised-button color="primary" (click)="onProgrameazaClick()">Programeaza</button>
</div>