<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Hospital Appointment</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
  <button mat-raised-button color="accent" (click)="openMatDialogPacient()">Inregistreaza Pacient</button>

  <section>
    <div class="example-button-row">
      <button mat-raised-button color="warn" (click)="openMatDialogProgramare()">Adauga Programare</button>
    </div>
  </section>
</mat-toolbar>
<body>
<h1>Appointment Dataaaa</h1>
<table>
  <thead>
    <tr>
      <th>CodProgramare</th>
      <th>CodPacient</th>
      <th>Prioritate</th>
      <th>StatusProgramare</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ "item.CodProgramare" }}</td>
      <td>{{ "item.CodPacient" }}</td>
      <td>{{" item.Prioritate "}}</td>
      <td>{{"item.StatusProgramare" }}</td>
    </tr>
  </tbody>
  <script src="script.js"></script>
</table>
</body>