<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Hospital Appointment</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="settings-button" (click)="openMatDialogConfig()">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-raised-button color="accent" (click)="openMatDialogPacient()" class="header-button">Inregistreaza Pacient</button>

  <section>
    <div class="example-button-row">
      <button mat-raised-button color="warn" (click)="openMatDialogProgramare()" class="header-button">Adauga Programare</button>
    </div>
  </section>
</mat-toolbar>
<body>
<h1>Programari</h1>
<table class="styled-table">
  <thead>
    <tr>
      <th>Nume Pacient</th>
      <th>Varsta</th>
      <th>Telefon</th>
      <th>Data Programarii</th>
      <th>Ora</th>
      <th>
        <mat-card>
          <mat-card-content>Programare</mat-card-content>
        </mat-card>
      </th>
      <th>Prioritate</th>
      <th>Actiuni</th>
      <th>Modifica</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let appointment of appointments">
      <td>{{appointment.nume}}</td>
      <td>{{appointment.varsta}}</td>
      <td>{{appointment.telefon}}</td>
      <td>{{appointment.dataprogramare | date:'shortDate'}}</td>
      <td>{{appointment.oraprogramare.substring(0, 5)}}</td>
      <td [ngClass]="{
        'programat': appointment.statusprogramare == 1,
        'preluat': appointment.statusprogramare == 2,
        'incheiat': appointment.statusprogramare == 3,
        'anulat': appointment.statusprogramare == 4
      }">
          {{appointment.statusprogramare == 1 ? 'Programat' :
            appointment.statusprogramare == 2 ? 'Preluat' :
            appointment.statusprogramare == 3 ? 'Incheiat' :
            appointment.statusprogramare == 4 ? 'Anulat' : ''}}

      </td>
      <td>{{appointment.prioritate}}</td>
      <td><button class="preia-button">Preia</button></td>
      <td>
        <button class="edit-button"><i class="fas fa-edit"></i>Modifica</button>
        <button class="cancel-button"><i class="fas fa-times"></i>Anuleaza</button>
      </td>
    </tr>
  </tbody>
  <script src="script.js"></script>
</table>
</body>