<form class="example-form">
<div>
    <mat-card>
        <mat-card-content>
            Durata Programare: {{ durata[0].durataprogramare }}
        </mat-card-content>
    </mat-card>
</div>

    <mat-form-field class="example-full-width">
      <mat-label>Durata</mat-label>
      <input matInput>
    </mat-form-field>
<div mat-dialog-actions class="button-container">
    <button mat-raised-button (click)="onCancelClick()">Anuleaza</button>
    <button mat-raised-button color="primary" (click)="onSaveClick()">Salveaza</button>
</div>
</form>
